<script type="text/javascript" src="/sluice/javascript/vendor/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/sluice/javascript/vendor/underscore.js"></script>
<link rel="stylesheet" href="stylesheets/profiler.css" type="text/css" />

<a class="button" id="track" href="#">
  <img name="pmfProfile" src="pmfProfile.png" width="100%"  border="0" id="track" alt=""  />
</a>

{{ jsplasma | safe }}
<script src="javascript/profiler.js"></script>
