<script type="text/javascript" src="/sluice/javascript/vendor/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/sluice/javascript/vendor/underscore.js"></script>
<link rel="stylesheet" href="stylesheets/streetcams.css" type="text/css" />

<div id="contents">
  <h2>Abbey Road Camera</h2>

    <a class="button" id="rewind" href="#"><img src="images/rewind.jpeg" alt="Rewind" height="84" width="84" /></a>
    <a class="button" id="play" href="#"><img src="images/play.jpg" alt="Play" height="84" width="84" /></a>
    <a class="button" id="pause" href="#"><img src="images/pause.jpg" alt="Pause" height="84" width="84" /></a>
    <a class="button" id="ff" href="#"><img src="images/ff.jpeg" alt="FF" height="84" width="84" /></a>
</div>

{{ jsplasma | safe }}
<script src="javascript/streetcams.js"></script>
