{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="stylesheets/twitter.css" type="text/css" />

<div id="contents">
<h2>twitter</h2>
<div><input size=30 type=search results=5 placeholder=Track... id="search"></div>
<br/>
<a id="create" href="#">create fluoroscope</a>

<br/><br/><br/>
<h2>sluice web browser</h2>
<div><input size=60 value="http://" placeholder=http://www.google.com id="web"/><a id="web_open" href="#">open url</a></div>
</div>

{{ jsplasma | safe }}
<script src="javascript/twitter.js"></script>
{% endblock %}
